<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('https://media.istockphoto.com/id/2155202633/photo/businessman-holding-the-secure-network-connecting-icon-linking-business-and-data-with.jpg?s=612x612&w=0&k=20&c=OdPLmZ5mlz52yAs25VJIvM_g2NxJlUbQ-XI0ToVFL3g=')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="titleBlip">Anomaly Based Intrusion Detection System Using Ensemble Machine Learning </h1>
       
        <a class="button" href="/register">Get Started</a>
    </div>
</hero>